[Unit]
Description=Web based code review and project management for Git based projects
After=network.target mariadb.service

[Service]
Type=simple
User=gerrit
SyslogIdentifier=gerrit
EnvironmentFile=-/etc/sysconfig/gerrit
ExecStartPre=/usr/bin/wait4service $GERRIT_SQL_SERVER
ExecStart=/usr/libexec/gerrit/gerrit.sh
ExecStartPost=/usr/bin/wait4service localhost 29418 && curl -sS --retry 5 --retry-delay 2 http://localhost:8000/
ExecStop=/bin/kill -s SIGINT $MAINPID
# stupid java exit codes
SuccessExitStatus=130 SIGINT
SuccessExitStatus=143 SIGTERM
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitAS=infinity
LimitLOCKS=infinity

[Install]
WantedBy=multi-user.target
